In [1]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer 
import re
from nltk.tokenize import word_tokenize

In [2]:
df = pd.read_csv('spam.csv.csv',encoding = "ISO-8859-1")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
#Remove Empty Columns
def  remove_empty_columns(df, threshold=0.9):
    column_mask = df.isnull().mean(axis=0) < threshold
    return df.loc[:, column_mask]

In [4]:
df2 = remove_empty_columns(df)
df2.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
def clean_url(text):
    return re.sub(r'http\S+', ' ',text)
df['CleanEmailText']=df['v2'].apply(clean_url)

In [6]:
text=df['CleanEmailText'][0]

In [7]:
text

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [8]:
def clean_lowercase(text):
    return(text).lower()

df['CleanEmailText']=df['CleanEmailText'].apply(clean_lowercase)

In [9]:
def clean_non_alphanumeric(text):
    return re.sub('[^a-zA-Z]',' ',text)
df['CleanEmailText']=df['CleanEmailText'].apply(clean_non_alphanumeric)

In [10]:
def rem_whitespces(text):
    
    return re.sub("\s+",' ',text)
df['CleanEmailText']=df['CleanEmailText'].apply(rem_whitespces)

In [11]:
text

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [12]:
def tokenize(text):
    return word_tokenize(text)

df['CleanEmailText']=df['CleanEmailText'].apply(tokenize)

In [13]:
df2.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
from nltk.corpus import stopwords

stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\zeyad\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [23]:
stop_words=set(stopwords.words('english'))
def clean_stopwords(token):
    return [item for item in token if item not in stop_words]
df['CleanEmailText']=df['CleanEmailText'].apply(clean_stopwords)

In [19]:
from nltk.stem import WordNetLemmatizer 
lemma=WordNetLemmatizer()

def clean_lemmatization(token):
    return[lemma.lemmatize(word=w,pos='v') for w in token]

df['CleanEmailText']=df['CleanEmailText'].apply(clean_lemmatization)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\zeyad\AppData\Roaming\nltk_data...

In [20]:
CleanEmailText=[]
def clean_lenght(token):
    filtered_tokens=[]
    for i in token:
        if len(i)>=2:
            filtered_tokens.append(i)
    return filtered_tokens
df['CleanEmailText']=df['CleanEmailText'].apply(clean_lenght)

In [21]:
df['CleanEmailText']

0       [go, jurong, point, crazy, available, bugis, g...
1                               [ok, lar, joke, wif, oni]
2       [free, entry, wkly, comp, win, fa, cup, final,...
3                    [dun, say, early, hor, already, say]
4             [nah, think, go, usf, live, around, though]
                              ...
5567    [nd, time, try, contact, pound, prize, claim, ...
5568                            [go, esplanade, fr, home]
5569                            [pity, mood, suggestions]
5570    [guy, bitch, act, like, interest, buy, somethi...
5571                                   [rofl, true, name]
Name: CleanEmailText, Length: 5572, dtype: object

In [24]:
def convert_to_string(listReview):
    return '  '.join(listReview)

df['CleanEmailText']=df['CleanEmailText'].apply(convert_to_string)

In [25]:
df['CleanEmailText'][5]

'freemsg  hey  darling  week  word  back  like  fun  still  tb  ok  xxx  std  chgs  send  rcv'

In [26]:
Y = df['v1']
X = df['CleanEmailText']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size = 0.3)

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)
vectorizer.get_feature_names_out()

array(['aa', 'aah', 'aaooooright', ..., 'zouk', 'zs', 'zyada'],
      dtype=object)

In [29]:
model = svm.SVC()
model.fit(X_train, y_train)
print("Accuracy :", model.score(X_test, y_test))

Accuracy : 0.9814593301435407

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Example documents
docs = [
  "The quick brown fox jumps over the lazy dog.",
  "A stitch in time saves nine.",
  "The early bird catches the worm.",
  "Actions speak louder than words.",
]

# Create a TF-IDF vectorizer instance
tfidf = TfidfVectorizer()

# Fit the vectorizer to the documents
tfidf.fit(docs)

# Transform the documents into a TF-IDF matrix
tfidf_matrix = tfidf.transform(docs)
print(tfidf_matrix.toarray())

[[0.         0.         0.32467583 0.         0.32467583 0.
  0.32467583 0.         0.32467583 0.32467583 0.         0.
  0.32467583 0.32467583 0.         0.         0.         0.
  0.5119563  0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.4472136  0.         0.         0.         0.4472136
  0.         0.         0.4472136  0.         0.4472136  0.
  0.         0.4472136  0.         0.        ]
 [0.         0.39264414 0.         0.39264414 0.         0.39264414
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.6191303  0.         0.         0.39264414]
 [0.4472136  0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.4472136  0.
  0.         0.         0.         0.4472136  0.         0.4472136
  0.         0.         0.4472136  0.        ]]

In [31]:
# Convert the matrix to a pandas dataframe
df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

# Display the dataframe
print(df_tfidf)
print(df_tfidf.columns)

    actions      bird     brown   catches       dog     early       fox  \
0  0.000000  0.000000  0.324676  0.000000  0.324676  0.000000  0.324676
1  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.392644  0.000000  0.392644  0.000000  0.392644  0.000000
3  0.447214  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

         in     jumps      lazy  ...      over     quick     saves     speak  \
0  0.000000  0.324676  0.324676  ...  0.324676  0.324676  0.000000  0.000000
1  0.447214  0.000000  0.000000  ...  0.000000  0.000000  0.447214  0.000000
2  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000
3  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.447214

     stitch      than       the      time     words      worm
0  0.000000  0.000000  0.511956  0.000000  0.000000  0.000000
1  0.447214  0.000000  0.000000  0.447214  0.000000  0.000000
2  0.000000  0.000000  0.619130  0.000000  0.000000  0.392644
3  0.000000  0.447214  0.000000  0.000000  0.447214  0.000000

[4 rows x 22 columns]
Index(['actions', 'bird', 'brown', 'catches', 'dog', 'early', 'fox', 'in',
       'jumps', 'lazy', 'louder', 'nine', 'over', 'quick', 'saves', 'speak',
       'stitch', 'than', 'the', 'time', 'words', 'worm'],
      dtype='object')